body {
  background-color: #F5F5DC !important;
  color: #333;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 620px;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border: 2px solid #F5F5DC;
  transition: border-color 0.2s ease-in-out;
}

.home {
  background-image: url('images/home.png');
  top: 10%;
  left: 50%;
  transform: translate(-75px, -75px);
}

.allergies {
  background-image: url('images/allergies.png');
  top: 35%;
  left: 20%;
  transform: translate(-75px, -75px);
}

.recepies {
  background-image: url('images/recepies.png');
  top: 35%;
  left: 75%;
  transform: translate(-75px, -75px);
}

.reminders_handle {
  background-image: url('images/reminders_handle.png');
  top: 65%;
  left: 20%;
  transform: translate(-75px, -75px);
}

.reminders_list {
  background-image: url('images/reminders_list.png');
  top: 65%;
  left: 75%;
  transform: translate(-75px, -75px);
}

.statistics {
  background-image: url('images/statistics.png');
  top: 60%;
  left: 50%;
  transform: translate(-75px, 75px);
}

.image:hover {
  border-color: #333;
}

.text-container {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.text {
  font-size: 20px;
  color: #666;
    display: none;
    font-weight: 700;
}

.ring:hover .text-container {
    display: block;
  opacity: 1;
}

.ring:hover .text-container .text {
  content: attr(data-text);
  display: block;
}

.image:hover ~ .text-container .text {
  content: attr(data-text);
  display: block;
}
